* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.hero {
    width: 100%;
    min-height: 100vh;
    background-image: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #0043fb;
    position: relative;
}

.container {
    width: 800px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    position: absolute;
    cursor: pointer;
    top: 10%;
    left: 10%
}

.logo img {
    position: absolute;
    width: 150px;
}



.clock {
    width: 100%;
    height: 100%;
    background: rgba(235, 0, 255, 0.11);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(40px);
}

.header {
    position: relative;
    text-align: center;
    bottom:150%;
}

.header h1 {
    font-size: 50px;
    color:#9407ff
}

.paragraph {
    position: relative;
    text-align: center;
    color: #004ffa
}

.paragraph p {
    font-size: 25px;
}

.container::before {
    content: ''; /* empty */
    width: 180px;
    height: 180px;
    background: #e2fb01;
    border-radius: 70px;
    position: absolute;
    left: -50px;
    top: -50px;
    z-index: -1;
}

.container::after {
    content: ''; /* empty */
    width: 180px;
    height: 180px;
    background: #0004ff;
    border-radius: 30px 60px 20px 60px;
    position: absolute;
    right: -30px;
    bottom: -50px;
    z-index: -1;
}

.clock span {
    font-size: 80px;
    width: 110px;
    display: inline-block;
    text-align: center;
    position: relative;
}

.clock span::after {
    /* 'HOURS"; */
    font-size: 16px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

#hrs::after {
    content: 'HOURS';
}

#min::after {
    content: 'MIN';
}

#sec::after {
    content: 'SEC';
}